:root {
  --base-font-size: 1rem;
  --spacer-0: 8px;
  --spacer-1: calc(var(--spacer-0) * 2);
  --spacer-2: calc(var(--spacer-0) * 3);

  --bg: #181719;
  --white: #ffffff;
  --gray: #828282;

  font-size: var(--base-font-size);
}

body {
  background-color: var(--bg);
  color: var(--white);
  font-family: "Montserrat", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  margin: 0 auto;
  max-width: 1200px;
  padding: var(--spacer-1);
  display: flex;
  flex-direction: column;
}

a {
  color: var(--white);
}

.icon {
  fill: var(--white);
  width: 32px;
  height: 32px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  border: 1px solid var(--white);
  font-family: "Crimson Pro";
  font-size: 0.875rem;
  font-weight: 200;
  padding: var(--spacer-0);
  text-decoration: none;
  text-transform: uppercase;
}

.nav-menu {
  opacity: 0;
  background-color: var(--bg);
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.menu.icon:active ~ .nav-menu,
.nav-menu:hover {
  opacity: 1;
  width: 100%;
  height: 100%;
}

.nav-menu__list {
  display: flex;
  flex-direction: column;
}

.nav-menu__list a {
  font-size: 1.125rem;
  text-align: center;
  margin: var(--spacer-2) 0;
  text-decoration: none;
}

.nav-menu__list .active {
  font-weight: 700;
  padding-bottom: var(--spacer-0);
  position: relative;
}

.nav-menu__list .active::after {
  content: "";
  border-bottom: 2px solid var(--white);
  position: absolute;
  width: 60%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.close.icon {
  position: fixed;
  right: calc(var(--spacer-0) + 6px);
  opacity: 0;
  pointer-events: none;
  z-index: 2;
}

.close.icon:active ~ .nav-menu {
  opacity: 0;
  width: 0;
  height: 0;
}

.nav-menu:hover ~ .close.icon {
  opacity: 1;
  pointer-events: all;
}

main {
  margin-top: var(--spacer-2);
}

.intro {
  margin-bottom: var(--spacer-1);
}

.intro h1 {
  font-family: "Lora", serif;
  font-size: 2.25rem;
  font-weight: 500;
  margin-bottom: var(--spacer-1);
}

.intro p {
  margin-bottom: var(--spacer-2);
}

.intro a {
  display: flex;
  align-items: center;
  font-weight: 700;
  text-decoration: none;
}

.intro .arrow.icon {
  margin-left: var(--spacer-1);
  width: 24px;
  height: 24px;
}

.featured {
  position: relative;
}

.feature {
  background: var(--bg);
  width: 300px;
  position: absolute;
  right: var(--spacer-1);
  bottom: -100px;
  padding: var(--spacer-1);
}

.feature__header {
  display: flex;
  align-items: center;
  margin-bottom: var(--spacer-1);
}

.feature__header img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: var(--spacer-1);
}

.featured span {
  display: block;
}

.featured__name {
  font-size: 0.75rem;
  font-weight: 500;
  display: none;
}

.featured__title {
  color: var(--gray);
  font-size: 0.625rem;
}

.feature__content {
  font-family: "Lora", serif;
  font-size: 1.125rem;
  font-weight: 700;
}

footer {
  margin-top: auto;
  text-align: center;
}

@media (min-width: 767px) {
  .menu.icon {
    display: none;
  }

  .close.icon {
    display: none;
  }

  .nav-menu {
    opacity: 1;
    position: static;
    width: auto;
    height: auto;
  }

  .nav-menu__list {
    flex-direction: row;
  }

  .nav-menu__list a {
    padding: 0 var(--spacer-2);
  }

  main {
    display: flex;
    gap: var(--spacer-2);
    margin-top: auto;
    align-items: center;
  }

  .intro h1 {
    font-size: 3rem;
  }
}

@media (min-width: 1440px) {
  .intro p {
    font-size: 1.5rem;
  }
}
